DB_URL=jdbc:mysql://localhost:3306/quick-chat?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=UTF-8&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=#secret
JWT_ACCESS_SECRET=#secret
JWT_REFRESH_SECRET=#secret
API_KEY=#secret